
<html>
    <head>
        <title>ManagementGym2.0</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="https://code.angularjs.org/1.4.3/angular.js" type="text/javascript"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-resource.js" type="text/javascript"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-route.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body> 
        <nav class="navbar navbar-default">
            <div class="col-xs-15">
                <a class="navbar-brand" href="#"><h1><b>MANAGEMENT GYM 2.0</b></h1></a>
            </div>    
            <form name="login"><br>
                <div  class="col-xs-3 form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" ng-model="username" required />
                </div>
                <div class="col-xs-3 form-group">
                    <label>Password</label><br>
                    <input type="password" name="password" class="form-control" ng-model="password" required />
                </div>
                <div class="col-xs-1 form-group">
                    <br>
                    <button class="btn btn-primary">Accedi</button>
                    <a href="#">Iscriviti</a>
                </div>
            </form>
            
        </nav>
        <ng-view/>
    </body>
</html>
