<style>
    .ng-invalid { background-color: lightpink; }
    .ng-valid { background-color: lightgreen; }
    span.error { color: red; font-weight: bold; }
</style>

<div ng-controller="boardCtrl">
    <div class="alert alert-danger" ng-show="board.error || board.errorDetele || board.createBoardError">
        Problemi con la comunicazione con il server.
        <a href="#/createsBoardTraining" class="alert-link">Ricarica la pagina</a>
    </div>
    <div ng-hide="board.error">
        <table class="table table-striped">
            <tr><th>Nome</th><th>Descrizione</th><th>Modifica scheda</th><th>Elimina scheda</th><th>
            <tr ng-repeat="b in board | orderBy:'nome'">
                <td>{{b.nome}}</td>
                <td>{{b.descrizione}}</td>
                <td>
                    <button ng-click="selectBoard(b)" class="btn btn-xs btn-primary">
                        Modifica
                    </button>
                </td>
                <td>
                    <button ng-click="deleteBoard(b)" class="btn btn-xs btn-danger">
                        Elimina
                    </button>
                </td>
            </tr>
        </table>
        <button ng-hide="showCreateBoard" type="button" class="btn btn-md btn-primary" ng-click="showCreateBoard = true">Crea nuova scheda</button>
        
        <div ng-show="showCreateBoard" ng-hide="!showCreateBoard">
            <form name="createBoard" novalidate>
                <div class="well">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" name="nome" ng-change="uniqueNome(nome)" ng-model="nome" required>
                        <span class="error" ng-show="createBoard.nome.$error.required">Inserisci il nome</span>
                        <span class="error" ng-show="createBoard.nome.$error.unique">Nome già utilizzato</span>
                    </div>
                    <div class="form-group">
                        <label for="descrizione">Description</label>
                        <textarea class="form-control" rows="5" name="descrizione" ng-model="descrizione"  required></textarea>
                        <span class="error" ng-show="createBoard.descrizione.$error.required">Inserisci la descrizione</span>
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="newBoard(nome, descrizione)" ng-disabled="createBoard.$invalid" >Crea</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div ng-show="showModifiedBoard" ng-hide="!showModifiedBoard">
            <form name="modifiedBoard">
                <div class="well">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" name="nome" ng-change="uniqueNomeModified()" ng-model="boardSelected.nome" required>
                        <span class="error" ng-show="modifiedBoard.nome.$error.required">Inserisci il nome</span>
                        <span class="error" ng-show="modifiedBoard.nome.$error.unique">Nome già utilizzato</span>
                    </div>
                    <div class="form-group">
                        <label for="descrizione">Description</label>
                        <textarea class="form-control" rows="5" name="descrizione" ng-model="boardSelected.descrizione"  required></textarea>
                        <span class="error" ng-show="modifiedBoard.descrizione.$error.required">Inserisci la descrizione</span>
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="modified()" ng-disabled="modifiedBoard.$invalid" >Modifica</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>